@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Jost:wght@300&display=swap');

@font-face {
    font-family: "chopper";
    src: url("/fonts/Chopper.ttf");
}

.title {
font-family: chopper;
}

.special {
    font-family: 'Crimson Pro', serif;
}
.regular {
font-family: 'Jost', sans-serif;
}

